<% content_for :body_type do%>
  aboutpage
<% end %>


<div class="container-about">
<br>
<h1 style="text-align:center">How it Works</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="left_grid_landing">
      <h3 style="text-align:center"> Learn a skill  </h3>
      <p> TradeCrafts is dedicated to the idea of continual self-improvement and the idea that we are never the final product of ourselves. </p>
      <p> Therefore, TradeCrafts serves to act as a platform to connect like-minded people and help you achieve your next goal. </p>
      <p> Search from the many users to find a skill that you have always wanted to learn. </p>
      <p> Then let the connecting and learning begin! </p>
    </div>
    <div class="col-md-6" id="right_grid_landing">
      <h3 style="text-align:center"> Teach a skill </h3>
      <p> A true open source community can't only have students, it needs teachers as well. </p>
      <p> People from different walks of life, can teach whatever skill they have- you will be surprised who wants to learn what you know! </p>
      <p> Someone can request to connect with you to learn the skill you have, and they in turn may have something you want to learn! </p>
      <p> We believe that anyone and everyone can be a teacher! </p>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-3" id="melissa">
      <h3>Learn an instrument</h3>
      <img class="profile_pic" src="http://i.imgur.com/4gwJQJs.jpg" />
      <h4> Melissa Lee </h4>
      <p> Learned how to play piano </p>
    </div>
    <div class="col-md-3" id="frank">
      <h3>Learn to design</h3>
      <img class="profile_pic" src="http://i.imgur.com/AxEnZHy.jpg">
      <h4> Frank Chun </h4>
      <p> Learned how to use photoshop </p>
    </div>
    <div class="col-md-3" id="sarah">
      <h3>Learn languages </h3>
      <img class="profile_pic" src="http://i.imgur.com/qtZq40A.jpg">
      <h4> Sarah Morgan </h4>
      <p> Learned how to speak French  </p>
    </div>
    <div class="col-md-3" id="john">
      <h3>Learn to code</h3>
      <img class="profile_pic" src="http://i.imgur.com/h64F8HR.jpg">
      <h4> John Rodriguez </h4>
      <p> Learned how to code in Javascript </p>
    </div>
  </div>
</div>

<br>
<br>
</div>