<% content_for :body_type do%>
  landingpage
<% end %>

<div class="landingcontainer">
  <img src="http://i.imgur.com/b7wxn7a.png" id="logo_landing" />
  
  <div id="block">
    <h2 class="landingtext"> Learn anything from anyone. </h2>
    <p>
      <a class="btn btn-success btn-lg" href="/users/sign_up">Sign Up</a>
      <span><a class="btn btn-success btn-lg" href="/about">Learn More</a></span>
    </p>
  </div>
</div>
<!-- <div class="jumbotron">
  <img src="http://i.imgur.com/b7wxn7a.png" id="tclogo" />
  <div id="block">
    <h2 class="landingtext"> Learn anything from anyone. </h2>
    <p><a class="btn btn-success btn-lg" href="/about">Learn more</a></p>
  </div>
</div> -->