<% content_for :body_type do%>
  signinpage
<% end %>

<div class="signinform">
<!-- <h2 style="text-align:center">Sign in</h2> -->
<img src="http://i.imgur.com/b7wxn7a.png" id="logo_signin"/>
	<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="container">
		<div class="row">
	    	<div class="col-md-4 col-md-offset-4" ><%= f.text_field :login, autofocus: true, hide_label: true, placeholder: 'User Name' %></div>
	    </div>
	</div>

	<div class="container">
		<div class="row">
	  		<div class="col-md-4 col-md-offset-4"><%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "Password" %></div>
	  	</div>
	</div>

	<div class="container">
		<div class="row">
	  		<div class="col-md-4 col-md-offset-4"><%= f.submit "Log In" %></div>
	<% end %>
		</div>
	</div>
</div>